body {
	background-image: url(image/Texture.jpg);
	font-family: 'Droid Serif', serif;
	color: #2f2f2f;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
#connexion_box form input[type=submit] {
	background-color: transparent;
	display:inline-block;
	cursor:pointer;
	color: #2f2f2f;
	padding: 5px 30px;
	margin: 3px 4px;
	border: 2px solid #2f2f2f;
	border-radius: 20px;
}
#connexion_box form input[type=submit]:active{
	position:relative;
	top:1px;
}
#connexion_box form input[type=submit]:hover{
	background-color: #2f2f2f;
	color: #d2cece;
	cursor: pointer;
}

#connexion_box form input[type=text], #connexion_box form input[type=password], #connexion_box form input[type=email], #connexion_box form input[type=tel] {
	border-radius: 5px 5px 5px 5px;
	border: 2px solid #2f2f2f;
	padding: 5px 20px;
	background-color: transparent;
}