#pub_article {
	position: inline-block; 
	float: left; 
	margin-left:10px;
}

#pub_article input[type=submit] {
	background-color: transparent;
	display:inline-block;
	cursor:pointer;
	color: #2f2f2f;
	padding: 5px 30px;
	margin: 3px 4px;
	border: 2px solid #2f2f2f;
	border-radius: 20px;
}
#pub_article input[type=submit]:active {
	position:relative;
	top:1px;
}
#pub_article input[type=submit]:hover {
	background-color: #2f2f2f;
	color: #d2cece;
	cursor: pointer;
}